{% extends "sidebar.html" %}

{% block main %}
    <style>
		.scrollbar::-webkit-scrollbar {
		    height: 5px;
		    background-color: #F5F5F5;
		} 
		.scrollbar::-webkit-scrollbar-thumb {
		    background-color: #999;
		}
	</style>
    {% macro card(item, index) -%}
        <div style="width:200px; height:200px; margin-left:8px; margin-right:16px; box-shadow:1px 1px 20px #ddd; display:inline-block;">
            <div style="width:200px; height:50px; border:1px solid grey;">
                <p>{{item.event_name}}</p>
            </div>
            <div style="width:200px; height:100px; border:1px solid grey; overflow-x:auto; overflow-y:hidden;">
                <p>{{item.event_start}} to {{item.event_end}}</p>
                <p>{{item.event_location}}</p>
                <p>{{item.attending}} out of {{item.min_people}}-{{item.max_people}} people attending</p>
            </div>
            <div style="width:200px; height:50px; border:1px solid grey;">
                <a class="button" href="#" data-toggle="modal" data-target="#dropout{{index}}">Drop Out</a>
                <a class="button" href="#" data-toggle="modal" data-target="#expand{{index}}">Expand</a>
            </div>
        </div>
    {%- endmacro %}
    {% macro modals(item, index) -%}
        <div class="modal fade" id="expand{{index}}" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{item.event_name}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{item.event_type}}</p>
                        <p>Food: {{item.food}}</p>
                        <p>{{item.event_start}} to {{item.event_end}}</p>
                        <p>{{item.attending}} out of {{item.min_people}}-{{item.max_people}} people attending</p>
                        <p>{{item.event_location}}</p>
                        <p>{{item.event_desc}}</p>
                    </div>
                    <div class="modal-footer">
                        <a class="button" href="#" data-toggle="modal" data-target="#dropout{{index}}">Drop Out</a>
                    </div>
                </div>
            </div>
        </div>
<!--

        <div class="modal fade" id="dropout{{index}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Please confirm that you want to drop out of the event {{item.event_name}}</p>
                    </div>
                    <div class="modal-footer">
                        <a class="button" href="#">Confirm</a>
                        <a class="button" href="#" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
-->
    {%- endmacro %}
	<div style="height:90vh; padding-left:16px;">
        <p style="color:#74838B; font-size:16px; margin-left:8px; margin-top:8px;">Events around you</p>
        <div style="height:250px; overflow-x:auto; overflow-y:hidden; white-space:nowrap;" class="scrollbar">
            {% if events|length==0 %}
				<p>No events happening around you. Create one yourself!</p>
			{% endif %}
            {% for item in events %}
            	{{card(item, loop.index)}}
                {{modals(item, loop.index)}}
            {% endfor %}
        </div>
	</div>
{% endblock %}